@page
@using ASP_site.Pages
@model AboutModel
@{
  ViewData["Title"] = "About";
}

<div style="max-width: 800px; margin: 0 auto; text-align: center;">
  <h1>@ViewData["Title"]</h1>
  <p>My name is Phil and this is my website.</p>

  <h3>Steam Profile</h3>
  <div style="display: flex; justify-content: center; width: 100%;">
    <a href="https://steamcommunity.com/id/philchute" target="_blank" style="display: block; width: 320px; height: 200px;">
      <iframe 
        src="https://gamer2810.github.io/steam-miniprofile/?accountId=STEAM_0:0:776185" 
        style="border: none; width: 100%; height: 100%; margin-bottom: 0.5rem;"
        scrolling="no" frameborder="0">
      </iframe>
    </a>
  </div>
  <br/>

  <a href="https://www.steamidfinder.com/lookup/76561197961818098/" target="_blank">
    <img src="https://www.steamidfinder.com/signature/76561197961818098.png" 
        alt="Phil Steam Signature - SteamId for philchute, real name Philip Chute"
        style="max-width: 100%;">
  </a>
  <br/>
  
  <hr/>

  <h3>GitHub Activity</h3>
  <a href="https://github.com/philchute" target="_blank">
    <img src="https://github-readme-activity-graph.vercel.app/graph?username=philchute&theme=github-compact&hide_border=true&area=true&point=true" 
      alt="GitHub Contribution Graph - philchute"
      style="max-width: 100%;">
  </a>

  <hr/>

  <h3>Other Profiles</h3>
  <div style="display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap;">
    <a href="https://www.chess.com/member/philchute" target="_blank">
      <img src="https://www.chess.com/bundles/web/images/user-image.007dad08.svg" 
        alt="Chess.com Profile - philchute"
        style="width: 48px; height: 48px;">
    </a>
    
    <a href="https://lichess.org/user/philchute" target="_blank">
      <img src="https://lichess1.org/assets/logo/lichess-favicon-32.png" 
        alt="Lichess Profile - philchute"
        style="width: 48px; height: 48px;">
    </a>
  </div>
  
  <a href="https://discord.gg/TFPugs" target="_blank">TFPugs Discord</a>
  <iframe src="https://discord.com/widget?id=836006501595742238&theme=dark" 
    width="350" height="500" allowtransparency="true" frameborder="0" 
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
  </iframe>
</div>