@page
@using ASP_site.Pages
@model AboutModel
@{
  ViewData["Title"] = "About";
}

<div style="max-width: 800px; margin: 0 auto; text-align: center;">
  <h1>@ViewData["Title"]</h1>
  <p>
    Hello, my name is Philip Chute, I am a talking ape, trapped on the crust of a molten ball of rock and metal. 
    I work as a technology consultant and I like to play games and solve problems. 
    I also have my amatuer extra radio license <a href="https://www.qrz.com/db/WQ4P" target="_blank">WQ4P</a>. 
    I made this site to hold and organize links and tools, and as a project in ASP .NET Razor Pages, and an exploration of new tools like Cursor IDE.
    Message me on Discord at philchute or email me at philchute at gmail.com.
  </p>

  <h3>Steam Profile</h3>
  <div style="display: flex; justify-content: center; width: 100%;">
    <a href="https://steamcommunity.com/id/philchute" target="_blank" style="display: block; width: 320px; height: 200px;">
      <iframe 
        src="https://gamer2810.github.io/steam-miniprofile/?accountId=STEAM_0:0:776185" 
        style="border: none; width: 100%; height: 100%; margin-bottom: 0.5rem;"
        scrolling="no" frameborder="0">
      </iframe>
    </a>
  </div>
  <br/>

  <a href="https://www.steamidfinder.com/lookup/76561197961818098/" target="_blank">
    <img src="https://www.steamidfinder.com/signature/76561197961818098.png" 
        alt="Phil Steam Signature - SteamId for philchute, real name Philip Chute"
        style="max-width: 100%;">
  </a>
  <br/>
  
  <hr/>
  <p> The source code for this site is available on <a href="https://github.com/philchute/ASP-site/" target="_blank">GitHub</a>.</p>
  <h3>My GitHub Activity</h3>
  <a href="https://github.com/philchute" target="_blank">
    <img src="https://github-readme-activity-graph.vercel.app/graph?username=philchute&theme=github-compact&hide_border=true&area=true&point=true" 
      alt="GitHub Contribution Graph - philchute"
      style="max-width: 100%;">
  </a>

  <hr/>
</div>