@page
@using ASP_site.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="tron-container">
    <div class="grid"></div>
    <div class="menu-container">
        <div class="menu-frame">
            <div class="menu-items">
                <div class="menu-item" data-text="Maps">Maps</div>
                <div class="menu-item" data-text="Games">Games</div>
                <div class="menu-item" data-text="Engines">Engines</div>
                <div class="menu-item" data-text="Links">Links</div>
                <div class="menu-item" data-text="Servers">Servers</div>
                <div class="menu-item" data-text="About">About</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="~/css/tron.css" />
    <script src="~/js/tron.js"></script>
}
