@page
@{
    ViewData["Title"] = "404 - Lost in Space";
}

<div class="text-center mt-5">
    <h1 class="display-1 text-danger">404</h1>
    <h2 class="display-4 text-white">Page not found</h2>
    <p class="lead text-muted">I may have moved it or you may have the wrong address.</p>
    
    <div class="mt-5">
        <a href="/" class="btn btn-secondary ms-1 btn-lg">Return to Home Page</a>
    </div>
    
    <div class="mt-5" style="opacity: 0.5;">
        <p>
            <i>"The stars look very different today."</i>
        </p>
    </div>

</div>
