@page
@model ASP_site.Pages.Philosophy.IndexModel
@{
    ViewData["Title"] = "Philosophy";
}

<link rel="stylesheet" href="~/css/philosophy.css" asp-append-version="true" />

<div class="jumbotron p-2 d-flex justify-content-between">
    <h2 class="mr-auto display-3">@ViewData["Title"]</h2>
</div>

<div class="content-pane mb-4">
    <h4>What is this?</h4>
    <p>
        In the broadest sense, as Carl Sagan put it, "The cosmos is all that is or ever was or ever will be." 
        "The cosmos is within us. We are made of star-stuff. We are a way for the universe to know itself."
        <br />
        Carl Sagan's 1980 book, <i>Cosmos</i>, and the 13 episode television series <i>Cosmos: A Personal Voyage</i>, 
        is an examination of the cosmos and our place in it. The book was available as a beautiful coffee table hardcover, 
        and as a mass market paperback, but is really best experienced as the television series. The graphics are quite dated, 
        but the content is timeless, awe inspiring, and humbling. <b>This original 1980 PBS series is my single highest recommendation 
        for anyone who wants to understand the cosmos and our place in it.</b>
        <br />
        The series can typically be found on Youtube. Here is one link to a playlist of all 13 episodes:
        <br />
        <a href="https://www.youtube.com/watch?v=W9dptug4wzY&list=PLmqVVt5yHFVkVJXmTKv1vbCFD8IachJMg">Cosmos: A Personal Voyage, by Carl Sagan</a>
    </p>
</div>

<div class="content-pane mb-4">
    <h4>What is this?</h4>
    <p>
        In the narrowest sense, this question becomes meaningless. How can our internal minds access or formulate a question about an 
        external reality? How can we communicate these questions or ideas to others, without assuming a shared understanding to begin with?
        I was a Philosophy minor in college, and one of the reasons I did not continue academic Philosophy was that I discovered this book, 
        <i>The Tractatus Logico-Philosophicus</i>, by Ludwig Wittgenstein, which in my view ended all philosophical debate and study. 
        Philisophical questions and statements are meaningless, and spending a life debating them is a waste. 
        <br />
        Wittgenstein died in 1951, so the Tractatus and his other published works entered the public domain January 1, 2022. 
        <a href="https://www.wittgensteinproject.org/">The Wittgenstein Project</a> publishes Wittgenstein's works, including the Tractatus, 
        in a well structured format which made building the page possible including new translations. 
        Please refer to that site for further information regarding the translations, the copyright, or other works by Wittgenstein.
        <br />
        I've created a new tool for viewing and exploring the Tractatus, and I've begun to add some of my own notes and thoughts.
        <br />
        <a href="/Tractatus">Start the Tractatus Explorer here.</a>
    </p>
</div>

<div class="content-pane mb-4">
    <h4>What are we?</h4>
    <p>
        Walking talking apes, capable of abstract thought, and capable of language. 
        <br />
        For a dry (in a sense) guide to this, there's Bill Bryson's <i>The Body: A Guide for Occupants</i>, available in print or on Audible.
        <br />
        <a href="https://www.youtube.com/watch?v=jupcJfqz_O0">The Body: A Guide for Occupants</a>
        <br />
        For a more romantic perspective, there's Terence McKenna's <i>The Archaic Revival</i>, in print, or any number of youtube remixes.
        <br />
        <a href="https://www.youtube.com/watch?v=F3Xca_aFTEo">Terence McKenna - The Challenge</a>
    </p>
</div>

<div class="content-pane mb-4">
    <h4>What are we?</h4>
    <p>
        The end result and ongoing stretch of our collective minds and will to explore and conquer the earth and universe.
        A civilization. What is a civilization? We're on the other side of Wittgenstein's ladder, so what is anything? 
        But historian Kenneth Clark gave an extraordinary tour of of ours, and how we got here, in his 1969 book and TV series,
        <i>Civilisation: A Personal View</i>.  The coffee table hardcover can sometimes be found at used bookstores, but the TV series is really the 
        best experience, and it's available on Youtube. This series is the best way to understand what we are, and how we got here.
        <br />
        <a href="https://www.youtube.com/watch?v=H37MQg0bu2I">Stephen Fry Introduces Kenneth Clark's Civilisation</a>
        <br />
        <a href="https://www.youtube.com/watch?v=sX_r9R98DiY">Civilisation: A Personal View - Part 1-5</a>
        <br />
        <a href="https://www.youtube.com/watch?v=lqooq37E4HQ">Civilisation: A Personal View - Part 6-9</a>
        <br />
        <a href="https://www.youtube.com/watch?v=YEre-ThpjvI">Civilisation: A Personal View - Part 10-13</a>
    </p>
</div>

<div class="content-pane mb-4">
    <h4>Who are we?</h4>
    <p>
        This is the question of a lifetime. And not a new question for us. As I wrestle with the larger questions in life I'm 
        repeatedly struck by the persistance of these questions through time, as the ancients have already elucidated. 
        Marcus Aurelius wrote <i>Meditations</i> in the 2nd century, and it's my highest recommendation for a man now in the 21st century
        finding himself with the same questions.
        The text is in public domain, so it's available in print or many places online. 
        <br />
        <a href="https://classics.mit.edu/Antoninus/meditations.html">Meditations at the MIT Classics Archive</a>
    </p>
</div>

<div class="content-pane mb-4">
    <h4>Who are we?</h4>
    <p>
        All of the above information points to one perspective as conclusion: it is our duty to conserve that which has been given to us. 
        Conservatism is the natural result of understanding that humans are capable of creating things beyond themselves. 
        These creations are not just physical objects, but also ideas, institutions, and systems of thought, which are passed down 
        to us by the people who came before us. It is our duty to conserve what has been given to us, and to pass something better 
        to the next generations. It is our duty to protect people from harm, including unborn children. It is our duty to conserve 
        nature and natural spaces for plants and animals. It is our duty to preserve our history and culture, to learn from it, so 
        that we can create the best of all possible worlds. 
        <br />
        To new conservatives I typically recommend Mark Levin's <i>Liberty and Tyranny</i>, available in print or on Audible, which 
        I consider the be the most clear foundation of conservative thought laid out in a single book. If you want something with 
        some more fire, I consider Andrew Breitbart to be the godfather of modern conservatism, and his book <i>Righteous Indignation</i> 
        or any of the talks or interviews he did are also a great place to start.
        <br />
        Here's a great example:
        <br />
        <a href="https://www.youtube.com/watch?v=OPgT4KEPufs">Andrew Breitbart at The Heritage Foundation</a>
    </p>
</div>

<div class="content-pane mb-4">
    <h4>What to do?</h4>
    <p>
        Do what's right and good. Don't do what's wrong and bad. It seems so simple, and in many ways it is. 
        Theft, murder, rape, assault, and other things can be considered wrong by definition. 
        If it wasn't wrong, then the thing did not occur. Our actions can be examined and judged by the 
        definition of what they are. Our behavior can be affected by many factors, for example our blood sugar levels, 
        or how tired we are. Being aware of these factors means you can change these things to change your behavior. 
        Even in a purely deterministic universe, we can still choose to do what's right and good, and not do what's wrong and bad.
    </p>
</div>

<div class="content-pane mb-4">
    <h4>What to do?</h4>
    <p>
        Games are sets of rules and boundaries. Life can be considered a game. Work can be a game. Everything is a game.
        Find how to play the game well and find how you want to play and win.
    </p>
</div>